/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(225, 76%, 18%);
  --clr-primary-2: hsl(225, 77%, 27%);
  --clr-primary-3: hsl(225, 72%, 37%);
  --clr-primary-4: hsl(225, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(225, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(225, 89%, 70%);
  --clr-primary-7: hsl(225, 90%, 76%);
  --clr-primary-8: hsl(225, 86%, 81%);
  --clr-primary-9: hsl(225, 90%, 88%);
  --clr-primary-10: hsl(225, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-gold: #c59d5f;

  --clr-trans-white: rgba(241, 245, 248, 0.685);
  --clr-trans-black: rgba(0, 0, 0, 0.685);

  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --default-shadow: 0 5px 10px rgb(0 0 0 / 10%);
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.test-cube {
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem;
  z-index: 9999;
  background: var(--clr-gold);
  color: var(--clr-grey-10);
}
ul {
  list-style: none;
  padding: 0;
}
a {
  color: #191919;
  text-decoration: none;
}
a:hover {
  color: var(--clr-primary-6);
}
input,
textarea {
  border: none;
  padding: 0.4rem;
  border-radius: 5px;
}
button {
  padding: 0.3rem;
  border-radius: 5px;
  margin-left: 0.8rem;
}
input:focus,
textarea:focus {
  outline: none;
}

.sec-gap-top {
  padding-top: 3rem;
}
.sec-gap-bottom {
  padding-bottom: 3rem;
}
.sec-gap {
  padding: 3rem 0;
}

.is-fixed {
  position: fixed;
}
.highlight-default {
  color: var(--clr-grey-10);
  background: var(--clr-gold);
  border-radius: 0.3rem;
  margin: 0.3rem 0;
  padding: 0.1rem 0.2rem;
}
button {
  font-weight: 700;
  text-transform: capitalize;
  padding: 0.4rem;
  margin: 0.2rem 0.07rem;
  background: var(--clr-grey-10);
  border: var(--clr-primary-1) 2px solid;
  transition: transform 250ms, box-shadow 230ms, background 100ms, color 100ms;
}
button:disabled {
  border: var(--clr-grey-8) 2px solid;
  background: var(--clr-grey-9);
}
button:disabled:hover {
  transform: translateY(0rem);
  box-shadow: none;
}
button:hover {
  transform: translateY(-0.1rem);
  box-shadow: var(--default-shadow);
}

.container {
  font-family: Helvetica, Arial, sans-serif;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}
@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
}
@media (max-width: 576px) {
  .container {
    padding: 0 0.9rem;
    margin: 0 auto;
  }
}

.container-fluid {
  width: 100%;
  padding-right: 0.9rem;
  padding-left: 0.9rem;
  margin-right: auto;
  margin-left: auto;
}
